<html>
<head><title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/master.css">
</head>
{% include 'header.html' %}
<div id='maincontent'>
{% block maincontent %}{% endblock %}
</div>
{% include 'footer.html' %}
</html>