<hr/>
{{site_name|capfirst}} @ 2013
{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="http://assets.annotateit.org/annotator/v1.1.0/annotator-full.min.js"></script>
<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">
<script type="text/javascript">
//jQuery(function ($) {
//    $('#maincontent').annotator().annotator('addPlugin', 'Auth', {
//        tokenUrl: '/token/'
//    }).annotator('addPlugin', 'Store', {
//            prefix: 'http://annotateit.org/api',
//          });
//});

jQuery(function ($) {
  	var content = $('#maincontent').annotator().annotator('setupPlugins');
});
</script>
{% endblock %}
